@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color:#343F4B;
    --secndary-color:#303841;
    --secndary-op-color:#2C9DAD;
    --text-p-color:#FFFFFF;
    --text-s-color:#7D7F81;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* header section  */
header{
    background-color: var(--primary-color);
    height: 100vh;
    
}

.navber{
    padding: 30px;
}
.navber ul{
    margin: 0 auto;
    display: block;
    text-align: center;

}
.navber ul li{
    display: inline-flex;
    padding: 10px;
    margin: 0 10px 0 10px;

}
.navber ul li a{
    text-decoration: none;
    color:var(--text-p-color)

}